.about {
    margin-top: 80px;

}

.about__heading {
    text-align: center;
    color: #FFF;
    font-family: "Inter";
    font-size: 43px;
    padding-bottom: 50px;
}

.about__list {
    display: grid;
    flex-direction: column;
    gap: 43px;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 150px;
}

.about__heading1 {
    color: #FFF;
    font-family: "Inter";
}

.about__text {
    color: #FFF;
    font-family: "Inter";
}

@media only screen and (max-width:1230px) {
    .about__item {
        flex-direction: column;
    }
}

@media only screen and (max-width:642px) {
   .about {
    img {
        max-width: 300px;
    }
   }

   .about__heading1 {
    font-size: 14px;
   }

   .about__heading {
    font-size: 29px;
   }
}

@media only screen and (max-width:642px) {
    .about {
        img {
            max-width: 200px;
        }
       }
    
}